@{
    ViewData["Title"] = "Home Page";
}
<div>
    @ViewData["Title"]
</div>
<div>
    @ViewBag.Title
</div>
<div>
    @TempData["Title1"]
</div>
<div>
    @TempData["Title1"]
</div>
<div>
    @TempData["Title2"]
</div>
<div>
    @TempData["Title2"]
</div>